---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';


// Recupera tutte le pagine dalla directory applicazioni
const applicazioni = await Astro.glob('../pages/applications/*.astro');

// Mappa le informazioni necessarie
const appList = applicazioni.filter(app => !app.file.endsWith('index.astro')).map(app => {

  const path = app.url || app.file.split('/pages')[1].replace('.astro', '');
  // Puoi definire frontmatter nelle pagine per titolo e icona
  // skip index
  
  return {
    title: app.frontmatter?.title || 'Applicazione',
    icon: app.frontmatter?.icon || '📄',
	image: app.frontmatter?.image || '/public/cover-barcode.jpg',
    href: path
  };
});

---
<Layout>
	<Navbar />
    
	<div class="grid grid-cols-12 gap-4 -mt-0">
		<div class="col-span-8 col-start-3 text-center ">

			<h1 class="text-6xl font-bold text-slate-900 my-8">Macchine che vedono,<br> soluzioni che trasformano.</h1>
			<p class="text-lg leading-relaxed ">
				Siamo un team di ingegneri e sviluppatori che unisce esperienza industriale e intelligenza artificiale per creare sistemi di visione su misura.
				Analizziamo i processi, identifichiamo le criticità e le trasformiamo in opportunità, dando “occhi digitali” alle macchine per riconoscere, controllare e reagire in tempo reale.
				Dal controllo qualità alla tracciabilità, dallo smistamento alla robotica, sviluppiamo applicazioni di computer vision pronte per la produzione, integrate con i sistemi aziendali e pensate per migliorare efficienza, sicurezza e decisioni.
			</p>

			<br>
			<br>
			
			<h1 class="text-4xl font-bold text-slate-900 my-8">Applicazioni</h1>
			<!-- img gallery 3x2 -->
			<div class="grid grid-cols-2 gap-4">
				
				{appList.map(app => (
                  <a href={app.href} class="flex flex-col items-center gap-3 px-4 py-3 rounded-lg bg-blue-50 text-blue-700 font-medium hover:bg-blue-100 transition-colors">
					<img src={app.image} alt={app.title} 
              			class="aspect-[4/3] w-full rounded-xl object-cover border border-slate-200 hover:shadow-lg transition-shadow" loading="lazy" />
                    <span class="text-xl color-slate-900">{app.title}</span>
                  </a>
              	))}

			</div>
		</div>
	</div>

  <div class="max-w-7xl mx-auto px-4">

    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">

		<div class="text-center mx-auto px-4 my-8 lg:col-span-8">
		
		</div>
	</div>
</div>

</Layout>
